P "CDS_LMAN_SYM_OUTLINE" "-125,50,125,-75" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 50 -125 -75 -1 0
L -125 50 125 50 -1 0
L 125 50 125 -75 -1 0
L -125 -75 125 -75 -1 0
A 76 0 26 2 178 0
A -72 0 24 2 178 0
A -23 0 25 2 178 0
A 26 0 26 2 178 0
L -125 0 -95 0 -1 0
L 100 0 125 0 -1 0
P "$LOCATION" "?" -10 100 0 0 32 0 0 0 0 0 1 0 0
P "PATH" "?" -124 150 0 0 48 0 0 0 0 0 0 0 2
P "VALUE" "induct" -90 62 0 0 32 0 0 0 0 0 1 0 0
P "MAXINV" "?" -49 0 0 0 32 0 0 0 0 0 0 0 32
P "JEDEC_TYPE" "?" -49 0 0 0 32 0 0 0 0 0 0 0 32
P "PACK_TYPE" "?" -49 0 0 0 32 0 0 0 0 0 0 0 32
L -175 0 -125 0 -1 0
C -175 0 "1" -200 0 0 1 32 0 R
L -25 -125 -25 -75 -1 0
C -25 -125 "2" -25 -150 0 1 32 1 R
X "PIN_TEXT" "NC" -25 -65 90 0 24 0 0 0 0 0 1 0 0
L 175 0 125 0 -1 0
C 175 0 "3" 200 0 0 1 32 0 L
L 25 -125 25 -75 -1 0
C 25 -125 "4" 25 -150 0 1 32 1 R
X "PIN_TEXT" "NC" 25 -65 90 0 24 0 0 0 0 0 1 0 0


