P "CDS_LMAN_SYM_OUTLINE" "-100,25,100,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -100 0 -75 25 -1 0
L -75 25 -25 -25 -1 0
L -25 -25 25 25 -1 0
L 25 25 75 -25 -1 0
L 75 -25 100 0 -1 0
P "VALUE" "?" 31 -75 0 0 57 0 0 2 0 0 1 0 0
P "$LOCATION" "?" 3 50 0 0 32 0 0 1 0 0 1 0 0
P "PATH" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 40 0 0 29 0 0 0 0 0 0 0 0
P "PACK_TYPE" "?" 0 -40 0 0 29 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 80 0 0 29 0 0 0 0 0 0 0 0
L -150 0 -100 0 -1 0
C -150 0 "1" -200 0 0 1 29 0 R
X "$PN" "#" -150 0 0 0 32 0 0 2 0 0 0 0 0
L 150 0 100 0 -1 0
C 150 0 "2" 200 0 0 1 29 0 L
X "$PN" "#" 150 0 0 0 32 0 0 0 0 0 0 0 0


