P "CDS_LMAN_SYM_OUTLINE" "-25,100,25,-100" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
A -1 75 25 275 445 0
A -1 25 25 272 448 0
A -1 -25 25 272 448 0
A -1 -75 25 272 448 0
P "$LOCATION" "?" 50 -1 0 0 29 0 0 0 0 0 1 0 0
P "PATH" "?" -50 225 0 0 47 0 0 0 0 0 0 0 2
P "VALUE" "?" -22 0 0 0 29 0 0 2 0 0 1 0 0
P "MAXINV" "?" -50 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" -50 0 0 0 29 0 0 0 0 0 0 0 0
P "PACK_TYPE" "?" -50 0 0 0 29 0 0 0 0 0 0 0 0
L 0 150 0 100 -1 0
C 0 150 "1" 0 175 0 1 30 1 L
X "FLOAT" "ERROR" -13 175 90 0 30 0 0 0 0 0 0 0 0
X "Clock" "FALSE" -13 175 90 0 30 0 0 0 0 0 0 0 0
L 0 -150 0 -100 -1 0
C 0 -150 "2" 0 -175 0 1 30 1 R
X "FLOAT" "ERROR" 13 -175 90 0 30 0 0 2 0 0 0 0 0
X "Clock" "FALSE" 13 -175 90 0 30 0 0 2 0 0 0 0 0


