P "CDS_LMAN_SYM_OUTLINE" "150,5250,8450,-50" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M 5546 475 8290 475 -1 0
M 6665 720 6665 110 -1 0
L 8305 600 6671 600 -1 74
M 8300 730 5521 730 -1 0
M 5521 130 5521 730 -1 0
L 8305 355 6671 355 -1 74
L 6671 230 8300 230 -1 74
L 7300 130 7300 355 -1 74
M 8300 105 300 105 -1 0
M 8300 5105 8300 105 -1 0
M 300 5105 300 105 -1 0
M 8300 5105 300 5105 -1 0
M 295 100 8305 100 -1 0
M 295 5110 295 100 -1 0
M 8305 5110 8305 100 -1 0
M 8305 5110 295 5110 -1 0
L 8420 -15 180 -15 -1 0
L 8420 5225 8420 -15 -1 0
L 180 5225 180 -15 -1 0
L 8420 5225 180 5225 -1 0
M 8425 5230 8425 -20 -1 0
M 8425 5230 175 5230 -1 0
M 8425 -20 175 -20 -1 0
M 175 5230 175 -20 -1 0
M 8300 4955 6650 4955 -1 0
M 6650 5105 6650 4730 -1 0
L 8075 4955 8075 4755 -1 74
L 7850 4955 7850 4755 -1 74
L 6825 4955 6825 4730 -1 74
L 7000 4955 7000 4730 -1 74
M 6650 4868 8300 4868 -1 0
M 7300 5230 7300 5105 -1 0
M 6300 5230 6300 5105 -1 0
M 5300 5230 5300 5105 -1 0
M 4300 5105 4300 5230 -1 0
M 3300 5230 3300 5105 -1 0
M 2300 5230 2300 5105 -1 0
M 1300 5230 1300 5105 -1 0
M 175 3980 300 3980 -1 0
M 175 2855 300 2855 -1 0
M 175 1730 300 1730 -1 0
M 8300 3980 8425 3980 -1 0
M 8300 2855 8425 2855 -1 0
M 8300 1730 8425 1730 -1 0
M 7300 105 7300 -20 -1 0
M 1300 105 1300 -20 -1 0
M 2300 105 2300 -20 -1 0
M 3300 105 3300 -20 -1 0
M 6300 105 6300 -20 -1 0
M 4300 -20 4300 105 -1 0
M 5300 105 5300 -20 -1 0
L 7900 110 7900 355 -1 74
L 6875 480 6875 355 -1 74
A 4300 5105 13 0 360 74
A 175 1730 13 0 360 74
A 300 1730 13 0 360 74
A 175 2855 13 0 360 74
A 300 2855 13 0 360 74
A 1300 -20 13 0 360 74
A 1300 105 13 0 360 74
A 2300 -20 13 0 360 74
A 2300 105 13 0 360 74
A 175 3980 13 0 360 74
A 300 3980 13 0 360 74
A 1300 5105 13 0 360 74
A 1300 5230 13 0 360 74
A 2300 5230 13 0 360 74
A 2300 5105 13 0 360 74
A 3300 -20 13 0 360 74
A 3300 105 13 0 360 74
A 4300 -20 13 0 360 74
A 4300 105 13 0 360 74
A 5300 -20 13 0 360 74
A 5300 105 13 0 360 74
A 6300 105 13 0 360 74
A 6300 -20 13 0 360 74
A 3300 5105 13 0 360 74
A 3300 5230 13 0 360 74
A 4300 5230 13 0 360 74
A 5300 5230 13 0 360 74
A 5300 5105 13 0 360 74
A 4950 5105 13 0 360 74
A 6300 5230 13 0 360 74
A 6300 5105 13 0 360 74
A 8300 730 13 0 360 74
A 8300 1730 13 0 360 74
A 8425 1730 13 0 360 74
A 8300 2855 13 0 360 74
A 8425 2855 13 0 360 74
A 7300 5230 13 0 360 74
A 8300 3980 13 0 360 74
A 8425 3980 13 0 360 74
A 8300 4955 13 0 360 74
A 8300 4855 13 0 360 74
A 7300 5105 13 0 360 74
A 7300 -20 13 0 360 74
T 6685 560 0 0 29 0 0 0 0 14 0
DRAWING TITLE:
T 6907 423 0 0 29 0 0 0 0 11 0
HARDWARE NUMBER:
T 6685 685 0 0 29 0 0 0 0 14 0
PROJECT TITLE:
T 7825 30 0 0 41 0 0 0 0 1 0
1
T 3800 5155 0 0 41 0 0 0 0 1 0
5
T 225 4580 0 0 41 0 0 0 0 1 0
D
T 800 30 0 0 41 0 0 0 0 1 0
8
T 225 1080 0 0 41 0 0 0 0 1 0
A
T 225 2280 0 0 41 0 0 0 0 1 0
B
T 225 3405 0 0 41 0 0 0 0 1 0
C
T 1775 30 0 0 41 0 0 0 0 1 0
7
T 2775 30 0 0 41 0 0 0 0 1 0
6
T 800 5155 0 0 41 0 0 0 0 1 0
8
T 1800 5155 0 0 41 0 0 0 0 1 0
7
T 2800 5155 0 0 41 0 0 0 0 1 0
6
T 3775 30 0 0 41 0 0 0 0 1 0
5
T 4800 30 0 0 41 0 0 0 0 1 0
4
T 5800 30 0 0 41 0 0 0 0 1 0
3
T 5538 153 0 0 29 0 0 0 0 23 0
IS EXPRESSLY FORBIDDEN.
T 6800 30 0 0 41 0 0 0 0 1 0
2
T 6800 375 0 0 57 0 0 0 0 1 74
B
T 6805 370 0 0 57 0 0 0 0 1 74
B
T 6675 430 0 0 29 0 0 0 0 4 0
SIZE
T 4775 5155 0 0 41 0 0 0 0 1 0
4
T 5775 5155 0 0 41 0 0 0 0 1 0
3
T 6775 5155 0 0 41 0 0 0 0 1 0
2
T 6875 4905 0 0 29 0 0 0 0 3 0
LTR
T 7940 305 0 0 29 0 0 0 0 5 0
DATE:
T 8350 1080 0 0 41 0 0 0 0 1 0
A
T 8350 2280 0 0 41 0 0 0 0 1 0
B
T 8350 3405 0 0 41 0 0 0 0 1 0
C
T 7300 5005 0 0 29 0 0 0 0 9 0
REVISIONS
T 7275 4905 0 0 29 0 0 0 0 11 0
DESCRIPTION
T 8350 4530 0 0 41 0 0 0 0 1 0
D
T 8100 4905 0 0 29 0 0 0 0 6 0
AUTHOR
T 7900 4905 0 0 29 0 0 0 0 4 0
DATE
T 7800 5155 0 0 41 0 0 0 0 1 0
1
T 6675 4905 0 0 29 0 0 0 0 4 0
ZONE
T 5538 388 0 0 29 0 0 0 0 34 0
THIS DOCUMENT CONTAINS INFORMATION
T 5538 308 0 0 29 0 0 0 0 38 0
PROPRIETARY TO MAXIM USE OR DISCLOSURE
T 5538 233 0 0 29 0 0 0 0 36 0
PERMISSION OF AN OFFICER OF MAXIM IS
T 6675 305 0 0 29 0 0 0 0 9 0
ENGINEER:
T 7325 180 0 0 29 0 0 0 0 13 0
TEMPLATE REV:
T 7965 180 0 0 29 0 0 0 0 4 0
REV:
T 7325 305 0 0 29 0 0 0 0 9 0
DRAWN BY:
T 6100 600 0 0 47 0 0 1 509 692 1
$CDS_IMAGE|MI_Logo_Black_Pos_Lg_300dpi.jpg|639|183
P "CUSTOM_TXT_CDS" "<HARDWARE_NUMBER>" 7250 400 0 0 48 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<PROJECT_TITLE>" 7125 650 0 0 48 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<ENGINEER>" 6875 250 0 0 32 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DATE>" 8075 275 0 0 32 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<TEMPLATE_REVISION>" 7625 125 0 0 40 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DESIGN_REVISION>" 8075 150 0 0 32 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DRAWN_BY>" 7550 250 0 0 32 0 0 0 0 0 1 0 32
P "COMMENT_BODY" "TRUE" 300 175 0 0 41 0 0 0 0 0 0 0 0


