M 6664 724 6665 110 -1 1
L 8301 350 6667 350 -1 74
L 6875 477 6875 352 -1 74
M 6666 476 8299 475 -1 1
L 8299 600 6661 600 -1 74
M 8300 725 6662 725 -1 1
L 8420 5225 180 5225 -1 0
L 8420 5225 8420 -15 -1 0
L 180 5225 180 -15 -1 0
L 8420 -15 180 -15 -1 0
M 8425 -20 175 -20 -1 1
M 8425 5230 175 5230 -1 1
M 8300 5105 300 5105 -1 1
M 8425 5230 8425 -20 -1 1
M 8300 5105 8300 105 -1 1
M 300 5105 300 105 -1 1
M 175 5230 175 -20 -1 1
M 8300 105 300 105 -1 1
M 175 1730 300 1730 -1 1
M 175 3980 300 3980 -1 1
M 175 2855 300 2855 -1 1
M 8300 2855 8425 2855 -1 1
M 8300 1730 8425 1730 -1 1
M 8300 3980 8425 3980 -1 1
M 5300 5230 5300 5105 -1 1
M 4300 5105 4300 5230 -1 1
M 7300 5230 7300 5105 -1 1
M 6300 5230 6300 5105 -1 1
M 2300 5230 2300 5105 -1 1
M 3300 5230 3300 5105 -1 1
M 1300 5230 1300 5105 -1 1
M 4300 -20 4300 105 -1 1
M 2300 105 2300 -20 -1 1
M 7300 105 7300 -20 -1 1
M 5300 105 5300 -20 -1 1
M 1300 105 1300 -20 -1 1
M 3300 105 3300 -20 -1 1
M 6300 105 6300 -20 -1 1
L 6671 230 8300 230 -1 74
L 7900 106 7900 477 -1 0
M 8305 5110 8305 100 -1 1
M 8305 5110 295 5110 -1 1
M 295 5110 295 100 -1 1
M 295 100 8305 100 -1 1
L 7299 108 7300 354 -1 74
T 6800 375 0.00 0.00 57 0 0 0 0 1 74
B
T 6803 372 0.00 0.00 57 0 0 0 0 1 74
B
T 6675 305 0.00 0.00 29 0 0 0 0 9 0
ENGINEER:
T 6907 423 0.00 0.00 29 0 0 0 0 16 0
HARDWARE NUMBER:
T 6675 430 0.00 0.00 29 0 0 0 0 4 0
SIZE
T 6685 560 0.00 0.00 29 0 0 0 0 14 0
DRAWING TITLE:
T 6685 685 0.00 0.00 29 0 0 0 0 14 0
PROJECT TITLE:
T 7940 426 0.00 0.00 29 0 0 0 0 5 0
DATE:
T 225 4580 0.00 0.00 41 0 0 0 0 1 0
D
T 7825 30 0.00 0.00 41 0 0 0 0 1 0
1
T 2775 30 0.00 0.00 41 0 0 0 0 1 0
6
T 1775 30 0.00 0.00 41 0 0 0 0 1 0
7
T 800 30 0.00 0.00 41 0 0 0 0 1 0
8
T 225 1080 0.00 0.00 41 0 0 0 0 1 0
A
T 225 2280 0.00 0.00 41 0 0 0 0 1 0
B
T 225 3405 0.00 0.00 41 0 0 0 0 1 0
C
T 800 5155 0.00 0.00 41 0 0 0 0 1 0
8
T 1800 5155 0.00 0.00 41 0 0 0 0 1 0
7
T 2800 5155 0.00 0.00 41 0 0 0 0 1 0
6
T 3775 30 0.00 0.00 41 0 0 0 0 1 0
5
T 4800 30 0.00 0.00 41 0 0 0 0 1 0
4
T 5800 30 0.00 0.00 41 0 0 0 0 1 0
3
T 3800 5155 0.00 0.00 41 0 0 0 0 1 0
5
T 4775 5155 0.00 0.00 41 0 0 0 0 1 0
4
T 5775 5155 0.00 0.00 41 0 0 0 0 1 0
3
T 6775 5155 0.00 0.00 41 0 0 0 0 1 0
2
T 8350 1080 0.00 0.00 41 0 0 0 0 1 0
A
T 8350 3405 0.00 0.00 41 0 0 0 0 1 0
C
T 7800 5155 0.00 0.00 41 0 0 0 0 1 0
1
T 8350 4530 0.00 0.00 41 0 0 0 0 1 0
D
T 8350 2280 0.00 0.00 41 0 0 0 0 1 0
B
T 6800 30 0.00 0.00 41 0 0 0 0 1 0
2
T 7941 301 0.00 0.00 29 0 0 0 0 4 0
REV:
T 7325 180 0.00 0.00 29 0 0 0 0 13 0
TEMPLATE REV:
T 7325 305 0.00 0.00 29 0 0 0 0 9 0
DRAWN BY:
P "CUSTOM_TXT_CDS" "<HARDWARE_NUMBER>" 6900 375 0.00 0.00 38 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<ENGINEER>" 6700 250 0.00 0.00 32 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<PROJECT_TITLE>" 6700 625 0.00 0.00 48 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DESIGN_REVISION>" 8125 250 0.00 0.00 32 0 0 1 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DRAWN_BY>" 7350 250 0.00 0.00 32 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DATE>" 7975 375 0.00 0.00 32 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<TEMPLATE_REVISION>" 7600 125 0.00 0.00 40 0 0 1 0 0 1 0 32
P "CUSTOM_TXT_CDS" "SHEET <CURRENT_DESIGN_SHEET> OF <TOTAL_DESIGN_SHEETS>" 7950 150 0.00 0.00 19 0 0 0 0 0 1 0 32
P "COMMENT_BODY" "TRUE" 300 175 0.00 0.00 41 0 0 0 0 0 0 0 0
P "CDS_LMAN_SYM_OUTLINE" "175,5250,8425,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
