P "CDS_LMAN_SYM_OUTLINE" "-75,25,75,-25" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L 30 20 50 -20 -1 0
L 10 -20 30 20 -1 0
L 50 -20 60 0 -1 0
L -10 20 10 -20 -1 0
L -10 20 -30 -20 -1 0
L -30 -20 -50 20 -1 0
L -50 20 -60 0 -1 0
L -60 0 -75 0 -1 0
L 80 0 60 0 -1 0
P "$LOCATION" "?" -25 50 0 0 32 0 0 0 0 0 1 0 0
P "VALUE" "?" -25 -75 0 0 34 0 0 0 0 0 1 0 0
P "PATH" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 40 0 0 29 0 0 0 0 0 0 0 0
P "PACK_TYPE" "?" 0 -40 0 0 29 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 80 0 0 29 0 0 0 0 0 0 0 0
L 125 0 75 0 -1 0
C 125 0 "2" 175 -15 0 1 41 0 L
X "$PN" "#" 125 0 0 0 32 0 0 0 0 0 0 0 0
L -125 0 -75 0 -1 0
C -125 0 "1" -150 -15 0 1 41 0 R
X "$PN" "#" -125 0 0 0 32 0 0 2 0 0 0 0 0


