P "CDS_LMAN_SYM_OUTLINE" "-50,50,50,-50" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -25 -25 -25 25 -1 0
L 25 -25 25 25 -1 0
P "$LOCATION" "?" -11 100 0 0 29 0 0 1 0 0 1 0 0
P "VALUE" "?" -11 50 0 0 29 0 0 1 0 0 1 0 0
P "PACK_TYPE" "?" 0 175 0 0 23 0 0 1 0 0 0 0 32
P "PATH" "?" 0 150 0 0 23 0 0 1 0 0 0 0 32
P "MAXINV" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
L -50 0 -25 0 -1 0
C -50 0 "1" -72 0 0 1 22 0 R
X "$PN" "#" -100 -50 0 0 47 0 0 0 0 0 1 0 32
L 50 0 25 0 -1 0
C 50 0 "2" 72 0 0 1 22 0 L
X "$PN" "#" 50 -50 0 0 47 0 0 0 0 0 1 0 32


