P "CDS_LMAN_SYM_OUTLINE" "-25,50,25,-50" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L 39 25 -37 25 -1 0
L -37 -25 39 -25 -1 0
L 0 -25 0 -60 -1 0
L 0 61 0 25 -1 0
P "$LOCATION" "?" 70 5 0 0 32 0 0 0 0 0 1 0 0
P "VALUE" "?" 75 -50 0 0 29 0 0 0 0 0 1 0 0
P "PACK_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "PATH" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
L 0 -100 0 -50 -1 0
C 0 -100 "2" 30 -150 0 1 41 0 R
X "$PN" "#" 0 -100 90 0 32 0 0 2 0 0 0 0 0
L 0 100 0 50 -1 0
C 0 100 "1" -25 125 0 1 41 0 L
X "$PN" "#" 0 100 90 0 32 0 0 0 0 0 0 0 0


